body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.bg {
    /* The image used */
    background-image: url("images/laptop.jpg");
  
    /* Full height */
    height: 100%; 
    opacity: 90%;
    filter: grayscale(1);
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
  }
  .text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size:100vw;
    transform: translate(-50%, -50%);
    color: white;
  }
  .text-below{
    padding-top: 40px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    }
    #logo_project{
     
      height: 120px;
      width: 140px;
    }
    .logo{
      margin-left: 170px;
      
      padding-bottom: 20px;
    }
    .navbar{
      display: flex;
      justify-content:space-between;
      
    }
    .navimg{
      margin-top: 20px;
      height: 120px;
      width: 140px;
      padding-left: 30px;
      
    }

/* About section ----------------------------------------------------------- */

  .about{
    background-color: 	#181818;
    padding-top: 30px;
    padding-bottom: 20px;

  }
  .about_me{
    text-align: center;
    color: white;
    padding-top: 80px;
    font-family: 'Times New Roman', Times, serif;
  }
 .about_para{
    color: white;
    padding-top: 50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
 }
 .text-center{
  padding-top: 20px;
 }
 .btn{
  background-color: 	#F28C28;
  color: white;
 }
 .btn:hover{
  text-decoration: none;
  color: white;
  background-color: 	#F28C28;
 }
 
 /* Some Projects section ------------------------------------------------ */
 .projects{
  background-color:	#181818 ;
  padding-top: 130px;

 }
.mobile_img{
 text-align: center;
 padding-top: 30px;
}

/* Contact US section--------------------------------------------- */
.contact-us{
  background-color:	#181818 ;
  padding-top: 130px;
}
.cnt{
  text-align: center;
    color: white;
    padding-top: 80px;
    font-family: 'Times New Roman', Times, serif;
}
.details{
  color: white;
  padding-top: 50px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
}
.container{
  
  width: 50%;
}
.form-group{
  padding: 10px 8px;
}
.lb{
  padding-bottom: 10px;
}
.form-control{
  padding-top: 10px;
  padding-bottom: 10px;
  
}
#message-btn{
  justify-content: center;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 50px;
  color: white;
  
}
#lb2{
  padding:12px 8px;
}